@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'creamCake';
  src: url('../../public/font/Cream\ Cake.otf') format('opentype');
}

@font-face {
  font-family: 'poppins';
  src: url('../../public/font/poppins-extrabold.ttf') format('truetype');
}

@layer base {
  :root {
    --mainColor: #fef2f2;
    --secondColor: #591420;
  }
}

@layer utilities {
  .panel {
    @apply w-screen h-screen relative
  }
}

.cp1 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}