@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'creamCake';
  src: url('../../public/font/Cream\ Cake.otf') format('opentype');
}

@font-face {
  font-family: 'poppins';
  src: url('../../public/font/poppins-extrabold.ttf') format('truetype');
}

@layer base {
  :root {
    --mainColor: #f5ddd2;
    --secondColor: #591420;
    --cherryColor: #170010;
  }
}

@layer utilities {
  .panel {
    @apply w-screen h-screen relative
  }
  .underline-effect {
    @apply relative cursor-pointer after:bg-mainColor after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all
  }


}